<%- include('../partials/header-hor.ejs', { title: 'PotatoProperties | Login' }) %>


<div class="contact-container">
        <section class="contact">
            <h2>Get in Touch</h2>
            <p>We'd love to hear from you and help you find your perfect home.</p>
            <div class="contact-info">
                <div class="contact-item">
                    <i class="fas fa-phone"></i>
                    <h3>Call Us</h3>
                    <p>(123) 456-7890</p>
                </div>
                
                <div class="contact-item">
                    <i class="fas fa-clock"></i>
                    <h3>Office Hours</h3>
                    <p>Mon-Fri: 9am-6pm<br>Sat: 10am-4pm</p>
                </div>
        
                <div class="contact-item">
                    <i class="fas fa-envelope"></i>
                    <h3>Email Us</h3>
                    <p>info@potatoproperties.com</p>
                </div>
            </div>
        </section>
</div>

<%- include('../partials/footer.ejs')%>
